.wrapper {
  width: calc(100% - 121px);
  float: left;
}

@mixin link_hover(){
  opacity: 0.8;
  text-decoration: underline;
}

@mixin require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}
