* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html body{
  width: 100vw;
  height: 100vh;
  color:#000;
  background:#FFF;
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 游ゴシック体, YuGothic, "Source Sans Pro", Helvetica, Arial, メイリオ, Meiryo, sans-serif;
  background: image-url('blue004.jpg');
  background-size: cover;
  overflow: auto;
}

.wrapper {
  height: 100%;
  width: calc(100% - 125px);
  float: left;
  overflow: auto;
}

.top-logo {
  height: 150px;
  padding-top: 50px;
  text-align: center;
  & img {
    height: 80px;
  }
}

.top-title {
  display: inline-block;
  width: 100%;
  height: 85px;
  padding-top: 40px;
  font-size: 30px;
  color: $white;
  font-weight: bold;
  text-align: center;
  span {
    padding: 5px 15px;
    background-color: $aqua;
    border: ridge 2px $litegray;
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  width: 100%;
  margin: 30px 0;
  justify-content: center;
  & > li > a {
    background-color: $cream;
  }
  & > .active {
    background-color: $side-text;
    border-radius: 4px;
  }
}

@mixin link_hover(){
  opacity: 0.6;
  cursor: pointer;
  text-decoration: underline;
}

@mixin link_hover_no_line(){
  opacity: 0.6;
  cursor: pointer;
}

@mixin require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}
