$white: #fff;
$cream: #fafafa;
$litegray: #dbdbdb;
$gray: #a7a7a7;
$brawn: #7b6220;
$pink: #eb90e3;
$red: #ff0000;
$liteblue: #81cfff;
$blue: #2cabeb;
$darkblue:#20415a;
$black: #000000;
$aqua: #02becc;

$side-background: #E4EEF6;
$side-text: #0053A6;
