.cus-new {
  width: 550px;
  padding: 40px 60px;
  margin: 40px auto;
  border: solid 1px black;
  background-color: $cream;
  form {
    display: flex;
    width: 100%;
  }
  & .required::after {
    content: '必須';
    @include require;
    background-color: $red;
  }
  & .required-gray::after {
    content: '任意';
    @include require;
    background-color: $gray;
  }
  &--left {
    width: 300px;
    &__label {
    }
    &__field,#customer_prefecture_id{
      width: 300px;
      margin: 0 0 15px 0;
    }
    &__box {
      display: flex;
      margin: 0 0 15px 0;
    }
    &__sex {
      width: 80px;
    }
    &__birthday {
      margin-left: auto;
    }
    &__submit {
      width: 80px;
      height: 40px;
      margin: 20px 20px;
      padding: 0 auto ;
      text-align: center;
      line-height: 40px;
      background-color: $gray;
      border-radius: 10px;
      &--btn {
        // display: none;
      }
    }
  }
  &--right {
    width: 100px;
    height: 100px;
    margin-left: auto;
    &__image {
      display: block;
      width: 100px;
      height: 100px;
      background-color: $gray;
      border-radius: 100px; 
      & input {
        display: none;
      }
      &-title {
        display: inline-block;
        width: 100px;
        text-align: center;
      }
    }
  }
}
