.cus-show {
  position: relative;
  width: 632px;
  padding: 40px 60px;
  margin: 40px auto;
  border: solid 1px black;
  background-color: $cream;
  display: flex;
  & .required::after {
    content: '必須';
    @include require;
    background-color: $red;
  }
  & .required-gray::after {
    content: '任意';
    @include require;
    background-color: $gray;
  }
  &--left {
    width: 510px;
    &__label {
      text-decoration: underline;
    }
    &__field {
      margin-bottom: 10px;
      padding-left: 5px;
      height: 26px;
      line-height: 26px;
      border: solid 1px $gray;
      overflow-x: scroll;
      white-space: nowrap;
    }
    &__short {
      &-box {
        display: flex;
      }
      &--one {
        width: 335px;
      }
      &--two {
        width: 165px;
        margin-right: 5px;
      }
    }
    &__long {
      &-box {
        display: flex;
      }
      &-three {
        width: 165px;
        margin-right: 5px;
      }
    }
    &__postal_code {
      width: 80px;
      margin-right: 5px;
    }
    &__prefecture {
      width: 90px;
      margin-right: 5px;
    }
    &__city {
      width: 325px;
    }
    &__address {
      width: 175px;
      margin-right: 5px;
    }
    &__building {
      width: 325px;
    }
    &__start_date {
      width: 125px;
      margin-right: 5px;
    }
    &__created_at, &__updated_at {
      width: 185px;
      margin-right: 5px;
    }
    &__submit {
      display: block;
      width: 428px;
      height: 40px;
      margin: 20px auto 0;
      text-align: center;
      line-height: 40px;
      color: inherit;
      background-color: $blue;
      border: solid 1px $black;
      border-radius: 10px;
      outline: none;
      text-decoration: none;
      &:hover {
        @include link_hover_no_line;
      }
    }
  }
  &--right {
    position: absolute;
    top: 65px;
    right: 65px;
    width: 137px;
    height: 137px;
    margin-left: auto;
    &__image {
      display: block;
      width: 137px;
      height: 137px;
      background-color: $gray;
      border-radius: 3px; 
    }
  }
}
