.tra-index {
  width: 100%;
  margin: 40px 0;
  .left {
    border: solid 1px $black;
    padding: 0 5px; 
  }
  .center {
    border: solid 1px $black;
    text-align: center;
  }
  .right {
    border: solid 1px $black;
    padding: 0 5px; 
    text-align: right;
  }
  &__balance {
    display: flex;
    width: 235px;
    margin: 0 auto 20px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: $cream;
    border: dotted 3px $gray;
    &-left {
      display: inline;
    }
    &-right {
      display: inline;
      width: 140px;
      text-align: right;
    }
  }
  &__table {
    margin: 0 auto;
    background-color: $cream;
    &__col {
      height: 30px;
      border: solid 1px $black;
      text-align: center;
      background-color: $litegray;
      &:hover {
        opacity: 1!important;
        cursor: default
      }
    }
    &__item {
      height: 50px;
      &:hover {
        @include link_hover_no_line;
      }
      &-t_id {
        width: 45px;
      }
      &-c_id {
        width: 50px;
      }
      &-date {
        width: 100px;
      }
      &-customer {
        width: 80px;
      }
      &-subject {
        width: 180px;
      }
      &-institution {
        width: 150px;
      }
      &-summary {
        width: 150px;
      }
      &-amount {
        width: 110px;
      }
    }
  }
}
  