// transactions/edit.html.hamlも共通

.tra-new {
  width: 550px;
  padding: 40px 60px;
  margin: 40px auto;
  border: solid 1px black;
  background-color: $cream;
  form {
    display: flex;
    width: 100%;
  }
  input {
    padding-left: 5px;
    border-radius: 5px;
    border: solid 1px $gray;
  }
  & .required::after {
    content: '必須';
    @include require;
    background-color: $red;
  }
  & .required-gray::after {
    content: '任意';
    @include require;
    background-color: $gray;
  }
  &--left {
    width: 300px;
    &__field{
      width: 300px;
    }
    &__one {
      margin-bottom: 10px;
    }
    &__box {
      display: flex;
      margin-bottom: 10px;
    }
    &__subject {
      &-number {
        width: 100px;
        margin-right: 10px;
        & input {
          width: 100%;
          height: 25px;
        }
      }
      &-menu {
        width: 190px;
        & select {
          width: 100%
        }
      }
    }
    &__amount {
      &--input {
        width: 100px;
        margin-right: 10px;
        & input {
          width: 100%;
          height: 22px;
          text-align: right;
        }
      }
      &--number {
        width: 190px;
        line-height: 56px;
        & p {
          font-size: 27px;
          font-weight: bold;
          text-align: right;
        }
      }
    }
    &__submit {
      display: block;
      width: 80px;
      height: 40px;
      margin: 5px 5px 5px 20px;
      color: $white;
      text-align: center;
      line-height: 40px;
      background-color: $blue;
      border: solid 1px $black;
      border-radius: 10px;
      outline: none;
    }
  }
  &--right {
    position: relative;
    width: 100px;
    height: 124px;
    margin-left: auto;
    &__preview {
      position: absolute;
      top: 24px;
      width: 100px;
      height: 100px;
      border: solid 1px $black;
      border-radius: 3px;
      & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
