.notifications{
  color: $white;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  .flash_notice {
    background-color: $liteblue;
    height: 30px;
    line-height: 30px;
  }
  .flash_alert {
    background-color: $pink;
    height: 30px;
    line-height: 30px;
  }
}
