.sidebar {
  float: left;
  width: 120px;
  height: 100vh;
  background-color: $liteblue;
  border-right: solid 1px $darkblue;
  overflow: scroll;
  &__title {
    padding: 20px 0;
    font-size: 25px;
    text-align: center;
  }
  &__user {
    padding-bottom: 25px;
    text-align: center;
  }
  &__menu {
    &__box {
      padding: 10px 0 10px 20px;
      border-top: solid 0.2px #97c1dc;
    }
  }
}
